In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
# import the dataset
iris=sns.load_dataset("iris")

In [5]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# Create a DataFrame with the data
data=pd.DataFrame(iris)

In [6]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [34]:
# Rename the column name
data.rename(columns={'sepal_length':'SL','sepal_width':'SW','petal_length':'PL','petal_width':'PW'},inplace=True)

In [35]:
data.head()

    SL   SW   PL   PW species
0  5.1  3.5  1.4  0.2  setosa
1  4.9  3.0  1.4  0.2  setosa
2  4.7  3.2  1.3  0.2  setosa
3  4.6  3.1  1.5  0.2  setosa
4  5.0  3.6  1.4  0.2  setosa

In [65]:
sw = data['SW']

In [66]:
# Finding the mean and standard deviation of each column
means = sw.mean()
std_devs = sw.std()

In [67]:
means

3.0573333333333337

In [68]:
std_devs

0.435866284936698

In [69]:
# Finding the z_scores
z_scores = (sw - means) / std_devs

In [70]:
z_scores

0      1.015602
1     -0.131539
2      0.327318
3      0.097889
4      1.245030
         ...
145   -0.131539
146   -1.278680
147   -0.131539
148    0.786174
149   -0.131539
Name: SW, Length: 150, dtype: float64

In [72]:
def outliers_z_scores(z_scores):
    outliers = []
    for i in z_scores:
        if i < -3 or i > 3:
            outliers.append(i)
    return outliers

# we already calculate the z_scores
outliers = outliers_z_scores(z_scores)

print(outliers)

[3.080455435688644]