In [5]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
l=[]
for i in range(1,101):
    l.append(i)
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [6]:
Q1=np.quantile(l,.25)
Q1

25.75

In [7]:
Q3=np.quantile(l,.75)
Q3

75.25

In [8]:
IQR=Q3-Q1
IQR

49.5

In [9]:
LL=Q1-(1.5*IQR)
LL

-48.5

In [10]:
UL=Q3+(1.5*IQR)
UL

149.5

In [12]:
Outlier=[]
for i in range(1, 101):
    if i < LL or i > UL:
        Outlier.append(i)
print(Outlier)

[]

In [ ]:
Here there is no outlier in this data

In [13]:
# data extended ie adding some values additional
l.extend([-66.8,155,156,157,-100,-50])
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 -66.8,
 155,
 156,
 157,
 -100,
 -50]

In [14]:
# find outlier by using function
def outlier_det(l):
    Q1 = np.quantile(l, 0.25)
    Q3 = np.quantile(l, 0.75)
    IQR = Q3 - Q1
    LL = Q1 - (1.5 * IQR)
    UL = Q3 + (1.5 * IQR)
    Outlier = []
    for i in l:
        if (i < LL) or (i > UL):
            Outlier.append(i)
    return Outlier
outlier_det(l)

[-66.8, 156, 157, -100]